<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player characters</title>
  </head>
  <body>
  
  	<h2>Player characters</h2>
  	
  	<p th:text="${lastActionMsg}">action message goes here</p>
  	
  	<table border="1">
  		<tr>
  			<th>Name</th>
  			<th>Race</th>
  			<th>Profession</th>
  			<th>Edit</th>
		</tr>
		<tr th:each="currentCharacter : ${theCharacters}">
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
				<td th:text="${currentCharacter.name}">character name</td>
				<td th:text="${currentCharacter.race}">character race</td>
				<td th:text="${currentCharacter.profession}">character profession</td>
				<td><a th:href="@{/{id}/update(id=${currentCharacter.id})}" href="/">Update</a> / <a th:href="@{/{id}/delete(id=${currentCharacter.id})}" href="/">Delete</a></td>
		</tr>
  	</table>
  	
  	<p><a href="/create">Create a new character</a></p>
  	
  	<p>database status: <span th:text="${dbStatus}">database status</span></p>
  	<p>number of characters: <span th:text="${#lists.size(theCharacters)}">(number)</span></p>

	

  </body>
</html>