<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player characters</title>
  </head>
  <body>
  
  	<h2>Player characters</h2>
  	
  	<table border="1">
  		<tr>
  			<th>Name</th>
  			<th>Race</th>
  			<th>Profession</th>
  			<th>Edit</th>
		</tr>
		<tr th:each="currentCharacter : ${theCharacters}">
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
<!-- 			<td th:text="">Entry for char</td> -->
				<td>character name</td>
				<td>character race</td>
				<td>character profession</td>
				<td>edit buttons</td>
		</tr>
  	</table>

	<p><a href="./autofill">autofill</a></p>

  </body>
</html>