<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    	//h2 {color:green;}
    	.board {border:10px solid #000000; font-size:100px; width:100px; height:100px; text-align:center;}
    	
    </style>
    <title>Play Tic Tac Toe</title>
  </head>
  <body>
  
  <h2>Play Tic Tac Toe</h2>
  
  <table>
  	<tr  th:each="row : ${boardData}">
  		<td class="board" th:each="field : ${row}">
			<a href="./tictactoe">
				<span th:switch="${field}">
					<span th:case="'0'">-</span>
					<span th:case="'1'">X</span>
					<span th:case="'2'">O</span>
				</span>
			</a>
  		</td>
	</tr>
  </table>
  

  </body>
</html>
