<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping by Recipe</title>
  </head>
  <body>
  
  <h1>Shopping by Recipe</h1>
  
  <p>Select recipe:</p>
  <ul>
  	<li th:each="curRecipe : ${recipes}">
  		<a th:href="@{/shopping-by-recipe/{id}(id=${curRecipe.id})}">
  			<span th:text="${curRecipe.name}">name of recipe</span>
  		</a>
 	</li>
  </ul>
  
  <p><a href="/shopping-by-recipe/fill">Auto-fill data</a></p>


  </body>
</html>